!!! 5
%html
  %head
    %meta{ :charset => 'utf-8' }/
    %title= page.full_title
    %link{ :rel => :stylesheet, :href => '/assets/basic/styles/all.css', :type => 'text/css' }/
    %script{ :src => 'http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js' }
    %script{ :src => '/assets/basic/scripts/application.js' }
  %body
    %header
      %div.site-title= config.title
      %div.site-subtitle= config.subtitle
    %nav= root_menu
    %section= yield
    %section
    = partial :github
